@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontParagraph);
    scroll-behavior: smooth;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
  font-variation-settings: 
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.active {

    p, span {
        color: var(--colorMain);
    }
}

.hidden {
    display: none;
}

body {
    background-color: var(--colorBackground);

    h1, h2, h3, p {
        color: var(--colorText);
    }

    h1, h2, h3 {
        font-family: var(--fontHeader);
    }

    h1 {
        font-size: var(--fontSizeHeading);
    }

    h2 {
        font-size: var(--fontSizeSubHeading);
    }

    h3 {
        font-size: var(--fontSizeSubbierHeading);
    }

    p {
        font-size: var(--fontSizeParagraph);
    }

    img {
        width: 100%;
    }

    a, button {
        -webkit-tap-highlight-color: transparent;
    }
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colorSecondary);
    padding: var(--paddingMobile);
    z-index: 2;

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-nav {
        display: none;

        p {
            font-family: var(--fontHeader);
        }
    }
    
    .icon-nav {
        text-decoration: none;
        
        p {
            font-size: 0.6rem;
        }
    }
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        gap: 1rem;
        
        a {
            text-decoration: none;
            color: var(--colorText);
            font-size: var(--fontSizeParagraph);
            font-family: var(--fontHeader);
            text-transform: uppercase;
            font-weight: 800;
            
            span {
                font-family: var(--fontHeader);
            }
        }
    }

    @media (min-width: 500px) {
        .text-nav {
            display: unset;
        }

        .icon-nav {
            display: none;
        }
    }
}

@media (min-width: 500px) {
    nav {
        top: 0;
        bottom: unset;

        ul {
            justify-content: space-between;
        }
    }
}

@media (min-width: 1200px) {
    nav {
        ul {
            justify-content: space-between;
            width: 1200px;
            margin: 0 auto;
            padding: 0 0.8rem;
        }
    }
}

footer {
    background-color: var(--colorSecondary);
    padding: var(--paddingMobile);
    text-align: center;

    p {
        font-family: var(--fontHeader);
    }
}


main {
    padding: var(--paddingMobile);
    padding-bottom: 2rem;
}

/* ########## HOME PAGE ########## */

#page-home {

    .welcome {
        

        article {
            position: relative;
            border-radius: var(--borderRadiusOuter);
            overflow: hidden;
            height: 400px;
    
            header {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #0d1e2694;
    
                img {
                    width: 12rem;
                    height: auto;
                }
    
                h1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 2rem;
    
                    span {
                        font-size: 1rem;
                        font-family: var(--fontHeader);
    
                        > span {
                            color: var(--colorTextSecondary);
                        }
                    }
                }
            }
    
            img {
                height: 400px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .project-line-start-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

        .project-line-start {
            border-left: 1.2px solid var(--colorSecondary);
            height: 50px;
            margin: 0.8rem 0;
        }
        
        .project-line-scroll {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.2rem;
            color: var(--colorTextSecondary);
            font-family: var(--fontHeader);
            text-decoration: none;
        }
    }

    .project-line-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        .project-line-start {
            border-left: 1.2px solid var(--colorSecondary);
            height: 50px;
            margin: 0.8rem 0;
        }
        
        .project-line {
            border-left: 1.2px solid var(--colorSecondary);
            height: 50px;
        }
    }

    @media (min-width: 600px) {

        .project-card-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.8rem;
        }

        .project-line-container, .project-line{
            display: none;
        }
    }

    @media (min-width: 1200px) {
        .project-card-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    
    .home {
        h2 {
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .project-container {
            position: relative;
            border-radius: var(--borderRadiusOuter);
            overflow: hidden;
            background-color: var(--colorCardBackground); /* fallback */

            header {
                position: relative;

                img {
                    height: 250px;
                    object-fit: cover;
                }

                h3 {
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
                    width: 100%;
                    padding: 4rem 0 0.8rem 0.8rem;
                    font-size: 1.8rem;
                }
            }
        }

        .project-container::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            opacity: 0;
            transition: 0.3s;
            background: linear-gradient(45deg, transparent 5%,rgba(222, 20, 20, 0.8) 50%, transparent 95%);
        }

        .project-container:hover::before {
            opacity: 1;
        }

        .project-content {
            position: relative;
            overflow: hidden;
            background-color: var(--colorCardBackground);
            margin: 1px;
            border-radius: var(--borderRadiusOuter);

            main {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                padding: 0.8rem;
                width: 100%;
            }

            p {
                color: var(--colorTextSecondary);
            }

            a {
                display: flex;
                /* align-items: center; */
                justify-content: center;
                color: var(--colorText);
                text-decoration: none;
                padding: 0.8rem;
                background-color: var(--colorMain);
                border-radius: var(--borderRadiusInner);
            }
        }
    }
}

/* ########## PORTFOLIO PAGE ########## */

#page-portfolio {
    .portfolio-header {
        margin-bottom: var(--paddingMobile);

        article {
            position: relative;
            border-radius: var(--borderRadiusOuter);
            overflow: hidden;
            height: 400px;
    
            header {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #0d1e2694;
    
                h1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 2rem;
                }
            }
    
            img {
                height: 400px;
                object-fit: cover;
                object-position: right;
            }
        }
    }

    .portfolio-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--paddingMobile);

        .portfolio-card {
            background-color: var(--colorCardBackground);
            border-radius: var(--borderRadiusOuter);
            overflow: hidden;
            padding: var(--paddingMobile);

            .project-card-header {
                /* text-align: center; */
                margin-bottom: 1rem;
            }

            .project-card-content {
                display: flex;
                gap: var(--paddingMobile);
                overflow: auto;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* IE and Edge */


                img {
                    border-radius: var(--borderRadiusInner);
                    width: 200px;
                }
            }

            .project-links {
                display: flex;
                justify-content: end;

                a {
                    text-decoration: none;
                    color: var(--colorText);
                    padding: var(--paddingMobile);
                    transition: 0.3s;
                }
                
                .site-link {
                    background-color: var(--colorMain);
                    border-radius: 0.8rem 0 0 0.8rem;
                }
                
                .github-link {
                    background-color: var(--colorSecondary);
                    border-radius: 0 0.8rem 0.8rem 0;
                }
                
                .site-link, .github-link {
                    /*Insert 0.8 opacity background to fix text also getting the opacity*/
                    opacity: 0.8;
                }

                .site-link:hover, .github-link:hover {
                    opacity: 1;
                }
            }

            .project-card-content::-webkit-scrollbar {
                display: none; /* Chrome */
            }

            @media (min-width: 600px) {
                .project-card-content {
                    p {
                        width: 60ch;
                    }
                }
            }
        }
    }
}

/* ########## ABOUT PAGE ########## */

.about {
    display: grid;
    gap: 1rem;

    .about-intro-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;
        grid-row: span 1;

        div {
            padding: var(--paddingMobile);
            text-align: center;
        }
    
        .about-intro-name {

            p {
                color: var(--colorTextSecondary);
                font-family: var(--fontHeader);
            }
        }
    
        .about-contact-container {
            
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                background-color: var(--colorMain);
                color: var(--colorText);
                font-family: var(--fontHeader);
                text-decoration: none;
                padding: var(--paddingMobile);
                border-radius: var(--borderRadiusInner);
                transition: 0.3s;
            }

            a:hover {
                box-shadow: var(--outerGlow);
            }
        }

    }


    .about-intro-welcome {
        display: none;
    }

    @media (min-width: 600px) {
        .about-intro-bio {
            p {
                display: none;
            }
        }
        
        .about-intro-welcome {
            display: none;
            flex-direction: column;
            gap: 1rem;
            grid-column: 2 / 4;
            grid-row: 1;
            padding: var(--paddingMobile);
            
            p {
                line-height: 1.5rem;
            }
        }
    }

    .about-experience-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        > div {
            padding: var(--paddingMobile);
        }

        div:nth-child(n+3) {
            border-top: var(--border);
        }

        .experience-card-header {
            background-color: var(--colorSecondary);
            
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }

        .experience-card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                gap: 1rem;

                li {
                    color: var(--colorTextSecondary);
                    background-color: var(--colorSecondary);
                    padding: var(--paddingPill);
                    border-radius: var(--borderRadiusInner);
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .about-experience-card {
            grid-row: 2 / 4;
            grid-column: 2;
        }

        .about-education-card {
            grid-row: 2 / 4;
            grid-column: 3;
        }

        .about-intro-welcome {
            display: flex;
        }
    }
    
    .about-education-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        > div {
            padding: var(--paddingMobile);
        }

        div:nth-child(n+3) {
            border-top: var(--border);
        }

        .education-card-header {
            background-color: var(--colorSecondary);
            
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }

        .education-card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                gap: 1rem;

                li {
                    color: var(--colorTextSecondary);
                    background-color: var(--colorSecondary);
                    padding: var(--paddingPill);
                    border-radius: var(--borderRadiusInner);
                }
            }
        }
    }

    .about-pet-container {
        display: none;
        position: relative;
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        .about-smaug-card {
            display: flex;
            height: 100%;

            img {
                object-fit: cover;
            }
            
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                font-size: 1.2rem;
                font-family: var(--fontHeader);
                padding: 4rem 0 0.8rem 0.8rem;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            }   
        }
    }

    @media (min-width: 600px) {
        .about-pet-container {
            display: block;
            grid-column: 1;
            grid-row: 2;
        }

        .about-education-card {
            grid-column: 2;
        }
    }

    @media (min-width: 1200px) {
        .about-pet-container {
            display: block;
            grid-row: 3;
        }

        .about-education-card {
            grid-column: 3;
        }

        .about-intro-card {
            grid-row: span 2;
        }
    }
}

/* ########## CONTACT PAGE ########## */

.contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;

    article {
        position: relative;
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;
        background-color: var(--colorCardBackground);
        height: 350px;

        header {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0d1e2694;

            h1 {
                font-size: 2rem;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }

    }

    @media (min-width: 600px) {
        article {
            height: unset;
        }
    }


    .contact-form-container {
        height: auto;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: var(--paddingMobile);

            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                label {
                    color: var(--colorTextSecondary);
                    font-family: var(--fontHeader);
                }
                
                input, textarea {
                    background-color: var(--colorSecondary);
                    font-family: var(--fontHeader);
                    border: none;
                    padding: 0.4rem;
                    border-radius: var(--borderRadiusInner);
                    color: var(--colorTextSecondary);
                }

                input:focus, textarea:focus {
                    outline: 1px solid var(--colorMain);
                    outline-offset: 1px;
                }

                textarea {
                    height: 100px;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.4rem;
                    background-color: var(--colorMain);
                    border: none;
                    color: var(--colorText);
                    padding: 0.6rem;
                    font-family: var(--fontHeader);
                    font-weight: 700;
                    border-radius: var(--borderRadiusInner);
                }
            }
        }
    }
    
}

@media (min-width: 600px) {
    .contact {
        grid-template-columns: repeat(2, 1fr);

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
}

/* ########## RESPONSIVENESS ########## */
@media (min-width: 600px) {
    main {
        padding-top: 4.5rem;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .about {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    main {
        width: 1200px;
        margin: 0 auto;
    }
}
