@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontParagraph);
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
  font-variation-settings: 
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.active {
    color: var(--colorMain);
}

.hidden {
    display: none;
}

body {
    background-color: var(--colorBackground);

    h1, h2, h3, p {
        color: var(--colorText);
    }

    h1, h2, h3 {
        font-family: var(--fontHeader);
    }

    h1 {
        font-size: var(--fontSizeHeading);
    }

    h2 {
        font-size: var(--fontSizeSubHeading);
    }

    h3 {
        font-size: var(--fontSizeSubbierHeading);
    }

    p {
        font-size: var(--fontSizeParagraph);
    }

    img {
        width: 100%;
    }

    a, button {
        -webkit-tap-highlight-color: transparent;
    }

}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colorSecondary);
    padding: var(--paddingMobile);

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-nav {
        display: none;
    }
    
    .icon-nav {
        text-decoration: none;
        
        p {
            font-size: 0.6rem;
        }
    }
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        gap: 1rem;
        
        a {
            text-decoration: none;
            color: var(--colorText);
            font-size: var(--fontSizeParagraph);
            font-family: var(--fontHeader);
            text-transform: uppercase;
            font-weight: 800;
            
            span {
                font-family: var(--fontHeader);
            }
        }
    }

    @media (min-width: 500px) {
        .text-nav {
            display: unset;
        }

        .icon-nav {
            display: none;
        }
    }
}

@media (min-width: 500px) {
    nav {
        position: unset;
    }
}

footer {
    background-color: var(--colorSecondary);
    padding: var(--paddingMobile);
    text-align: center;

    p {
        font-family: var(--fontHeader);
    }
}


main {
    padding: var(--paddingMobile);
    padding-bottom: 2rem;
}

@media (min-width: 1300px) {
    main {
        /* padding: var(--paddingDesktop); */
    }
}

/* ########## HOME PAGE ########## */

#page-home {
    img {
        width: 100%;
    }

    .welcome-text {
        text-align: center;

        span {
            color: var(--colorTextSecondary);
            font-size: 0.8rem;
            font-family: var(--fontHeader);
        }
    }
}

/* ########## ABOUT PAGE ########## */

.about {
    display: grid;
    gap: 1rem;

    .about-intro-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;
        grid-row: span 2;

        div {
            padding: var(--paddingMobile);
            text-align: center;
        }
    
        .about-intro-name {

            p {
                color: var(--colorTextSecondary);
                font-family: var(--fontHeader);
            }
        }
    
        .about-contact-container {
            
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                background-color: var(--colorMain);
                color: var(--colorText);
                font-family: var(--fontHeader);
                text-decoration: none;
                padding: var(--paddingMobile);
                border-radius: var(--borderRadiusInner);
                transition: 0.3s;
            }

            a:hover {
                box-shadow: var(--outerGlow);
            }
        }

    }


    .about-intro-welcome {
        display: none;
    }

    @media (min-width: 600px) {
        .about-intro-bio {
            p {
                display: none;
            }
        }
        
        .about-intro-welcome {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-column: 2 / 4;
            grid-row: 1;
            padding: var(--paddingMobile);
            
            p {
                line-height: 1.4;
            }
        }
    }

    .about-experience-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        > div {
            padding: var(--paddingMobile);
        }

        div:nth-child(n+3) {
            border-top: var(--border);
        }

        .experience-card-header {
            background-color: var(--colorSecondary);
            
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }

        .experience-card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                gap: 1rem;

                li {
                    color: var(--colorTextSecondary);
                    background-color: var(--colorSecondary);
                    padding: var(--paddingPill);
                    border-radius: var(--borderRadiusInner);
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .about-experience-card {
            grid-row: 3;
            grid-column: 2;
        }

        .about-education-card {
            grid-row: 3;
            grid-column: 3;
        }
    }
    
    .about-education-card {
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        > div {
            padding: var(--paddingMobile);
        }

        div:nth-child(n+3) {
            border-top: var(--border);
        }

        .education-card-header {
            background-color: var(--colorSecondary);
            
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }

        .education-card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                gap: 1rem;

                li {
                    color: var(--colorTextSecondary);
                    background-color: var(--colorSecondary);
                    padding: var(--paddingPill);
                    border-radius: var(--borderRadiusInner);
                }
            }
        }
    }

    .about-pet-container {
        display: none;
        position: relative;
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        .about-smaug-card {
            display: flex;
            height: 100%;

            img {
                object-fit: cover;
            }
            
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                font-size: 1.2rem;
                font-family: var(--fontHeader);
                padding: 4rem 0 0.8rem 0.8rem;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            }   
        }
    }

    .about-hobbies-container {
        display: none;
        position: relative;
        background: var(--gradient);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 1.2rem;
            font-family: var(--fontHeader);
            padding: 4rem 0 0.8rem 0.8rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 90px);
            grid-template-rows: repeat(2, 90px);
            gap: 2rem;
            align-content: center;
            justify-content: center;
            list-style: none;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.2rem;
                justify-content: center;
                padding: var(--paddingMobile);
                background-color: var(--colorPill);
                border-radius: var(--borderRadiusInner);

                span {
                    color: var(--colorText);
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .about-pet-container {
            display: block;
        }

        .about-hobbies-container {
            display: grid;
        }
    }

    .about-skills-container {
        display: none;
        background-color: var(--colorCardBackground);
        border-radius: var(--borderRadiusOuter);
        overflow: hidden;
        padding: var(--paddingMobile);

        .skill {
            .skill-header {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1rem;

                img {
                    width: 30px;
                }
            }

            .skill-bar-container {
                background-color: var(--colorSecondary);
                height: 10px;
                border-radius: var(--borderRadiusInner);
                overflow: hidden;

                .skill-bar {
                    height: 10px;
                }

                .html {width: 100%; background: linear-gradient(135deg, hsla(12, 100%, 56%, 1) 0%, hsla(19, 80%, 67%, 1) 100%);}
                .css {width: 90%; background: linear-gradient(135deg, hsla(220, 100%, 45%, 1) 0%, hsla(215, 68%, 67%, 1) 100%);}
                .js {width: 20%; background: linear-gradient(135deg, hsla(52, 83%, 63%, 1) 0%, hsla(84, 3%, 35%, 1) 100%);}
                .python {width: 30%; background: linear-gradient(135deg, hsla(202, 100%, 51%, 1) 0%, hsla(60, 100%, 54%, 1) 100%);}
            }
        }
    }

    @media (min-width: 1200px) {
        .about-skills-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

@media (min-width: 600px) {
    main {
        padding-bottom: var(--paddingMobile);
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .about {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    main {
        width: 1200px;
        margin: 0 auto;
    }
}
